.firstplaylist {
    width: 450px;
    background: white;
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
    margin: 10px;
}

.imgplaylist {
    margin-left: 20px;
    width: 36px;
    height: 36px;
    background: black;
    border-radius: 10px;
}

.nameplaylist {
    margin-left: 20px;
}